$buffer: 20px;
$section-height: 100vh;

$fw-light: 300;
$fw-regular: 400;

$fs-title: 48px;
$fs-section-header: 36px;

$arrow-size: 20px;
$arrow-stroke: 2px;

$desktop-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 0 $buffer;
}

section {
	position: relative;
	height: $section-height;
	font-weight: $fw-light;

	h2 {
		font-weight: $fw-light;
		margin-top: 0;
		font-size: 32px;

		@include desktop {
			font-size: $fs-section-header;
		}
	}

	a {
		text-decoration: none;
		color: black;
		font-weight: $fw-regular;
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
	}

	p {
		padding: 0 $buffer;
		line-height: 1.6;
		max-width: 480px;
		margin: 0 auto;
	}
}

.content-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section-title {
	h1 {
		font-size: 42px;
		font-weight: $fw-light;
		position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	  margin-top: 0;
	}
}

.section-final {
	h2 {
		font-size: $fs-title;
		font-weight: $fw-light;
		line-height: $section-height;
	}
}

.divider {
	border-bottom: 1px solid rgba(220,220,220, .4);
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.next {
	cursor: pointer;
	position: absolute;
	bottom: $buffer * 2;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
}

// arrow
.arrow-down {
	position: relative;
  display: inline-block;
  width: $arrow-size;
  height: $arrow-size;
  border-right: $arrow-stroke solid rgba(220,220,220, 1);
  border-top: $arrow-stroke solid rgba(220,220,220, 1);
  transform: rotate(135deg);
}